.shop-container{
display: grid;
grid-template-columns: 3fr 1fr;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 10px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.cart-container{
    background-color: #05253371;
    color: white;
    /* height: 500px; */
}
@media screen and (max-width:425px){
    .products-container{
        grid-template-columns: repeat(1,1fr);
    }
    .cart-container{
        display: none;
    }
}